# Domains for services
ROOM_BASE_DOMAIN=prod.wiilink24.com
DEMAE_DOMAIN=food.wiilink24.com
DIGICAM_DOMAIN=cam-prod.wiilink24.com
DIGICARD_DOMAIN=card.wiilink24.com
ACCOUNTS_DOMAIN=accounts.wiilink.ca
ANNOUNCEMENTS_DOMAIN=mail.wiilink.ca
BULLETIN_DOMAIN=bulletin.wiilink.ca
CFH_DOMAIN=ch.wiilink24.com
CHECKOUT_DOMAIN=checkout.wiilink.ca
CMOC_DOMAIN=miicontest24.wiilink.ca
CMOC_SERVER_DOMAIN=miicontestp24.wiilink.ca
CMOC_PANEL_DOMAIN=mcc-panel.wiilink.ca
CMOC_VIEWER_DOMAIN=miicontest.wiilink.ca
DOMINOS_DOMAIN=dom.wiilink24.com
DOMINOS_TRACKER_DOMAIN=tracker.wiilink24.com
EATER_DOMAIN=eater.wiilink.ca
EATER_WEB_DOMAIN=just-eat.wiilink.ca
EVC_DOMAIN=vt.wii.rc24.xyz
EVC_SERVER_DOMAIN=vtp.wii.rc24.xyz
EVC_ADMIN_DOMAIN=panel.vtp.wiilink24.com
EVC_VIEWER_DOMAIN=evc.wiilink.ca
FORECAST_DOMAIN=fore.wiilink24.com
NC_BANNER_DOMAIN=ncc.wiilink24.com
NC_SERVER_BASE_DOMAIN=n.wiinoma.com
NC_ADMIN_DOMAIN=gateway.nc.wiilink24.com
NEWS_DOMAIN=news.wiilink.ca
PATCHER_DOMAIN=patcher.wiilink24.com
PIPELINE_DOMAIN=pipeline.wiilink.ca
STAMP_DOMAIN=stamp.wiilink.ca
WFC_DOMAIN=wfc.wiilink.ca
MAIL_DOMAIN=mtw.rc24.xyz