DISCORD_TOKEN=
SENTRY_DSN=

DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=
DB_HOSTNAME=

MAIL_DB_USER=
MAIL_DB_PASS=
MAIL_DB_PORT=
MAIL_DB_NAME=
MAIL_DB_HOSTNAME=

GOOGLE_APPLICATION_CREDENTIALS=/app/google_creds.json
DEEPL_TOKEN=
OWO_TOKEN=

WADS_DIR=/app/wads

MAIN_SERVER_ID=
MOD_LOG_ID=
SERVER_LOG_ID=