server {
  server_name rs.nintendo.com ms.nintendo-europe.com wiirecommend.nintendo.com.au wii.nintendo.co.jp;
  listen 80;
  listen [::]:80;
  client_max_body_size 500M;

  location / {
    proxy_set_header Host bookmarks.wiilink.ca;
    proxy_pass http://bookmarks.wiilink.ca;
  }
}
