server {
  server_name panel.vtp.wiilink24.com;
  listen 80;
  client_max_body_size 200M;

  location / {
    proxy_pass http://evc_web_panel:5000/;
  }
}

server {
 server_name vtp.wiilink24.com vtp.wii.rc24.xyz;
 listen 80;
 client_max_body_size 200M;

 location / {
   proxy_pass http://votes_server:8001/; 
 }

 location /index.html {
        alias /var/www/evc/votes/index.html;
 }
}

server {
 server_name vt.wiilink24.com vt.wii.rc24.xyz;
 listen 80;
 client_max_body_size 200M;

 error_page 404 =200 /404.html;
    location = /404.html {
        alias /var/www/evc/votes/018/2023/1230_r.bin;
        internal;
    }

 root /var/www/evc/votes;
 location / {
 }
}

server {
  server_name evc.wiilink.ca;
  client_max_body_size 500M;

  listen 80;
  listen [::]:80;

  location / {
     proxy_set_header Host $host;
     proxy_pass http://evc_viewer:4000/;
  }
}
