# External IP address that DNS server should be accessible over
DNS_IP=

# IP address that WiiLink services are running on
# Normally matches DNS_IP, used to redirect domains in DNS
HOST_IP=

# Ports for DNS server and web server
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
DNS_PORT=53

# Port for PostgreSQL (only exposed to localhost)
POSTGRES_PORT=2345

# Password for redis
REDIS_PASSWORD=

# Group ID of host user
# This is needed so read/write permissions work properly within containers
# If you do not know your GID, you can obtain it by running "id -g" in terminal
GID=

# Folder paths for service data storage
# These should all be read/writable by the host user's group
ROOM_ASSETS_PATH=./data/room/assets
DIGICARD_PATH=./data/digicard
FOOD_ASSETS_PATH=./data/food/assets
NC_ASSETS_PATH=./data/nc/assets
CMOC_ASSETS_PATH=./data/cmoc/assets
ANNOUNCEMENTS_PATH=./data/announcements
CAM_TEMPLATES_PATH=./data/cam/templates
CAM_ORDERS_PATH=./data/cam/orders
NEWS_ASSETS_PATH=./data/news/assets
NEWS_CACHE_PATH=./data/news/cache
FORECAST_ASSETS_PATH=./data/forecast/assets
EVC_FILES_PATH=./data/evc
BOT_WADS_PATH=./data/bot/wads
WFC_PATCHES_PATH=./data/wfc/patches
DOMINOS_ASSETS_PATH=./data/dominos/assets
DOMINOS_ERRORS_PATH=./data/dominos/errors
DOMINOS_CERTS_PATH=./data/dominos/certs
PATCHER_FILES_PATH=./data/patcher
CFH_FILES_PATH=./data/cfh
KIRBY_XML_PATH=./data/kirby/xml
KIRBY_EPISODES_PATH=./data/kirby/episodes
KIRBY_PROMOS_PATH=./data/kirby/promos