ROOM_SECRET_KEY=please_change_me_using_pwgen_64_or_similar
ROOM_UNDERGROUND_ENABLED=1

POSTGRES_HOST=postgres

ROOM_DB_USER=room_server
ROOM_DB_DATABASE=room_server
ROOM_DB_PASSWORD=please_change_me_using_pwgen_64_or_similar

CAM_DB_USER=room_server
CAM_DB_DATABASE=room_server
CAM_DB_PASSWORD=please_change_me_using_pwgen_64_or_similar
CAM_SENDGRID_KEY=your_sendgrid_key_goes_here

DIGICARD_SECRET_KEY=please_change_me_using_pwgen_64_or_similar
# Configuration for Discord and Oauth2.
DIGICARD_CLIENT_ID=00000000000000000
DIGICARD_CLIENT_SECRET=abcdefghijklmnopqrstuvwxyz

# url{1,2,3} and shop.dev.wiilink24.com are guaranteed
# to exist and will resolve to 127.0.0.1 for usage within Dolphin.
NGINX_BASE_DOMAIN=dev.wiilink24.com
DEMAE_DOMAIN=demae.example.com
DIGICAM_DOMAIN=cam.example.com
DIGICARD_DOMAIN=card.example.com

# Location of GeoLite2 data.
MAXMIND_DB_PATH="assets/GeoLite2-City.mmdb"

# Sentry DSNs.
ROOM_SENTRY_DSN=
CAM_SENTRY_DSN=
DIGICARD_SENTRY_DSN=
DEMAE_SENTRY_DSN=
