.env
.idea

# We do not want to have these directories committed.
assets
conf/*
templates

# However, this needs to exist.
!conf/README.md

# Similarly, we do not want our cloned source tracked.
cam-server
food-server
room-server