.env
.idea

# We do not want to have these directories committed.
assets
templates

# Nor do we want our user-configured EULA to be tracked.
/config/room-server/eula.txt

# Similarly, we do not want our cloned source tracked.
cam-server
food-server
room-server